<div class='question'>
	<h1> <%= question.title %> </h1>

	<p class='body'>
		<%= question.body %>
	</p>

	<p class='tag-list'>
		<%= render partial: "tags/list", locals: { tags: question.tags } %>
	</p>

	<p>
	  <strong>Submitted By:</strong> <%= question.user.email %>
	</p>
</div>
