<%= render partial: "questions/question", locals: {question: @question} %>

<h2> Answers <a href="" onclick="toggleAnswer(event)" class="answer-link">Show Answers</a></h2>


<div class='answers hide'>
	<%= render partial: "answers/list", locals: { answers: @question.ranked_answers, question: @question } %>
</div>

<%= link_to 'New Answer', new_question_answer_path(@question) %>
