<div class="comment-item">
	<div class="row">
		<%= render partial: "votes/votebox", locals: {votable: comment } %>
		<p><%= comment.comment %></p>
	</div>
	<p><%= comment.user.email %> (<%=comment.created_at%>)</p>
</div>