<h2>Answers</h2>

<% answers.each do |answer| %>
	<%= render partial: "answers/answer", locals: {answer: answer, question: answer.question} %>
<% end %>

<%= link_to 'Submit New Answer', new_question_answer_path(question) %>