
<%= render partial: "questions/question", locals: {question: @answer.question} %>
<h2> Answer </h2>
<%= render partial: "answers/answer", locals: {answer: @answer, question: @answer.question} %>

<h2> Comments </h2>
<%= render partial: "comments/list", locals: {comments: @answer.comments} %>

<%= link_to 'Back to Question', question_path(@answer.question_id) %>
