// Place all the styles related to the answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.row {
	display: flex;
	flex-direction: row;
}

.answer-item .snippet {
	flex: 6;
}

.hide {
	display: none;
}

.answer-item:first-child {
	border: 5px double black;
	margin-bottom: 20px;
	padding: 20px;
}

.answer-link {
	font-size: 13px;
	font-weight: normal;
}
