// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.question > .body {
  white-space: pre-line;
}

input[name="search_value"] {
  width: 230px;
}

.search_btn {
  width: 40px;
  height: 40px;
  vertical-align: bottom;
  display: inline-flex;
  justify-content: center;
  align-content: center;
}
